.justify {
    text-align: justify;
}

textarea {
    width: 100%;
}

.form-signin {
    /*max-width: 350px;*/
    padding: 19px 29px 29px;
    /*margin: 0 auto 20px;*/
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-register-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-register input[type="text"],
.form-register input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.error {
    border: 1px solid red !important;
    background-color: red !important;
    color: white !important;
    font-weight: bold !important;
}

.table td.center {
    text-align: center;
}

.table td.actions {
    text-align: right;
}

.table td.actions span {
    float: right;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #555;
    padding-left: 5px;
}

.table td.sized48 {
    width: 48px;
}

.table td.middle {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.photo-display {
    background: transparent url('../images/damier.png') repeat top left;
    width: 100%;
    min-height: 45px;
    margin-bottom: 10px;
}

.thumb-perso {
    background-color: #eee;
}

.thumb-perso .thumbnail {
    background-color: white;
}

.fileupload-buttonbar {
    margin-top: 10px;
}

.report-title {
    border-bottom: 1px solid #ccc;
}